/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos do cabeçalho e menu */
header {
    background-color: rgb(0, 202, 202);
    padding: 15px;
    color: white;
}

.retorno {
    cursor: pointer;
}

nav {
    display: flex; /* Define que os itens dentro do <nav> ficam alinhados em linha */
    justify-content: space-between; /* Distribui o espaço igualmente entre os itens */
    align-items: center; /* Centraliza os itens verticalmente */
}

.retorno {
    font-size: 24px;
    font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Seção de introdução */
.intro {
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
}

.foto-perfil {
    border-radius: 50%;
    max-width: 250px;
    margin-top: 20px;
}

/* Seções de conteúdo */
section {
    padding: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para links de redes sociais */
.social {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(0, 202, 202);
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
